Django
django-cors-headers==4.3.1
django-minio-backend==3.6.0
django-minio-storage==0.5.7
django-redis==5.4.0
django-restframework==0.0.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1